
/* start images */
#trg-method {
    width: 100%;
    height: auto;
    border-radius: 5px;
    animation-name: slide-in-reverse;
    animation-duration: 3s;
}
#trg-methodology {
    width: 100%;
    height: auto;
    border-radius: 5px;
    animation-name: slide-in;
    animation-duration: 3s;
}
/* end images */
@media screen and (max-width: 600px) {
    #trg-method,
    #trg-methodology {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    #trg-method {
        height: 110%;
        width: 120%;
        margin-left: -10%;
    }
    .consultation-img {
        height: 110%;
        width: 120%;
        margin-left: -10%;
    }
}

/* animations */

@keyframes slide-in {
  0% {
    translate: 15vw;
    scale: 100% 1;
    opacity: 0;
  }

  50% {
    translate: -10vw;
    scale: 100% 1;
    opacity: 0.5;
  }

  100% {
    translate:0;
    scale: 100% 1;
    opacity: 1;
  }

}
@keyframes slide-in-reverse {
  0% {
    translate: -15vw;
    scale: 100% 1;
    opacity: 0;
  }
  25% {
    scale: 100% 1;
    opacity: 0.25;
  }

  50% {
    scale: 100% 1;
    opacity: 0.5;
  }

  75%{
    translate: 3vw;
    opacity: 0.75;
  }

  100% {
    translate:0;
    opacity: 1;
  }
}