
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: #D3D3D3;
    background: linear-gradient(180deg, rgba(211, 211, 211, 1) 0%, rgba(245, 245, 245, 1) 60%, rgba(28, 28, 28, 1) 100%);
    color: #222;
    height: 100%;
    align-items: center;
    width: 100%;
}






/* Header */
header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #89cff082;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 5px 5px 2px 4px rgba(255, 255, 255, 0.1); 
    border-radius:  0px 10px 0 10px;
    z-index: 1000;
    height: 110px;
    color: #fff;
    min-width: 80%;
}
/* header h1 {
    margin-top: 5px;
    font-size: 2rem;
    height: 30px;
    align-self: center;

} */

#logo_header {
    width: 150px;
    height: 100px;
    animation: slide-from-top 2s forwards;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#icon_schedule{
    width: 100%;
    height: 100%;

}

/* .header ul {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    list-style: none;
    gap: 15px;
}
.header li {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.icon_header {
    width: 75px;
    height: 75px;
    border-radius: 100%;

}
.icon_header #icon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.links {
    flex-direction: column;
    align-self: center;

}
.links {
    align-self: center;
    height: 100px;
    width: 100px;
    padding: 5px 5px;
    text-align: center;
    /* box-shadow: #222 0px 0px 2px;
    background-color: #333; */
    border-radius: 100%;
    /* transform: rotate(90deg); */
   
    

}
#menu-button {
   background: none;
   border: none;
   cursor: pointer;
   text-align: center;
   color: white;
}
#icon_schedule{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 600px) {
    .links{
        height: 100px;
        width: 60px;
        margin-right: 10px;
        text-align: center;
        font-size: 12px;
    }
    
}
/* .menu_button:hover {
    background-color: #4f4f4f;
    color: white;
} */
.icon {
    align-items: center;
    margin: 0 auto;
}



@media screen and (max-width: 600px) {
    header {
        margin-top: 0px;
        margin-bottom: 10px;
        width: 100%;
        height: 110px!important;
    }

    .icon_header {
        align-self: center;
        align-items: center;
        height: 75px;
        width: 75px;

    }
    #logo_header {
        height: 80px;
        width: 160px;
        animation: slide-from-top 2s forwards;
        align-self: center;
        justify-content: center;
    }

}

/* header end */



/* Main content */
main {
    background: #fff;
    padding: 10px 2px 2px 2px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgb(242, 242, 242);
    border: 1px solid #7575753a;
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 1rem;
    min-height: 100%;
    
}
@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}
/* Perfil photo*/
.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 100%;
}
.picture {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-self: center;
    border: #000000 1px solid;
    z-index: 999;
}
/* header photo */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
    max-height: 200px;

}
.header_picture {
    width: 95%;
    height: 200px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    mask-image: linear-gradient(to top, transparent, rgb(255, 255, 255));
    border-radius: 5px;
    box-shadow: #333 0px 1px 5px 1px;
    z-index: 1;
}

@media screen {
    .header_picture {
        height: 150px;
    }
    .picture {
        width: 120px;
        height: 120px;
        margin-top: 30px;
    }
}

/* Social Media */
#redes-sociais {
    margin: 20px 0;
    align-self: center;
}

/* End Social Media */


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #333;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    bottom: -10px;
    min-width: 80%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    position: static;
    bottom: 0;
    
}
footer p {
    margin: 0;
    padding: 1rem;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 300;
}
/* end footer */

/* responsive screens */
@media screen and (max-width: 600px) {
    body {
        flex-direction: column;

    }
    header {
        width: 100%;
        height: 150px;
    }

 
    main {
        padding: 1rem;
        width: 100%;
    }
    footer {
        flex-direction: column;
        width: 100%;
    }
}



/* animations */
@keyframes slide-from-top {
  0% {
    transform: translateY(-100vw);
    scale: 100% 1;
    opacity: 0;
  }
  20% {
    transform: translateY(-50vw);
    scale: 100% 1;
    opacity: 0.25;
  }
  40% {
    transform: translateY(-10vw);
    scale: 100% 1;
    opacity: 0.5;
  }
  60% {
    transform: translateY(0);
    scale: 100% 1;
    opacity: 0.75;
  }

  100% {
    transform: translateX(0);
    scale: 100% 1;
    opacity: 1;
  }

}
