.body-article {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#About-me-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    align-self: center;
}
#About-me-content {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
.sub-title {
    font-size: 20px;
    color: #444;
    margin-bottom: 8px;
    align-self: center;
}