.body-article {
    position: static;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#About-me-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    align-self: center;
}
#About-me-content {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
.sub-title {
    font-size: 20px;
    color: #444;
    margin-bottom: 8px;
    align-self: center;
}
.trg-methodology-pilars{
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}
.trg-methodology-pilars li {
    margin-top: 15px;
}
/* images end*/

/* video instagram */
.video-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.instagram-media{
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* video instagram end */
@media screen and (max-width: 1200px){

    main{
        width: 100%;
        font-size: 18px;
    }
} 

@media screen and (max-width: 600px) {
    main{
        font-size: 16px;
    }
    .body-article {
        width: 90%;
        padding: 0px;
    }
    #About-me-title, .sub-title {
        font-size: 20px;
    }
    #About-me-content {
        font-size: 14px;
    }
    .video-container {
        max-width: 90%;
    }
}